@import 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

nav {
	width: 100%;
	
}

header {
  
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background-color: #eee;*/
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

#searchbar {
	width: 50%;
	height: 20px;
	font-size: 15px;
	float: left;
	border: 1px solid #a6a6a6;
	padding: 3px 16px;
}

#logo {
	float: left;
	padding-right: 20px;
}

.btn {
  height: 28px;
  background-color: #e0e0e0;
  color: #7f7f7f;
  font-size: 15px;
  padding: 0px 16px;
  border-style: solid;
}